<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- Favicon -->
      <link rel="icon" href="{% static 'img/favicon.ico' %}">
      <!-- Logo -->
      <link rel="icon" href="{% static 'img/logo.ico' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Static CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <title>{% block title %} {% endblock title %}</title>

  </head>
  <body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar {% block navbar %}{% endblock navbar %}">
      <a class="navbar-brand flex-grow-1 text-center">
        {% block nav-content %}
        <i class="fas fa-user-friend"></i>&nbsp;&nbsp; LIST OF CANDIDATES
        {% endblock nav-content %}
      </a>
    </nav>
  </header>
    <div class="wrapper">
        <!--   ============ Block Conent (ROOT) ===========   -->
        {% block content %}{% endblock content %}
        <!-- ===========  END // WRAPPER ============== -->
    </div>
<!-- Footer --->
    <footer class="bg-dark text-center text-lg-start" id="footer" style="color:#fff;">
      <div class="text-center p-3" style="background-color:rgba(0, 0, 0.2);">
        &copy; {% now "Y" %} CopyRight:
        <a class="text-light" style="text-decoration:none;">
          <span {% block footer %}  style="color:#89cff;"{% endblock footer %}>www.your-website.com</span>
        </a>
      </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'js/min.js'%}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>